In [41]:
import pandas as pd
import numpy as np

This notebook further cleans the beer dataset to remove most brewery and beer names that have non-english keyboard characters for use in the application

In [42]:
# Read files
main = pd.read_pickle('./main.pickle')
users = pd.read_pickle('./users.pickle')

In [43]:
beers = main[['beer_beerid','brewery_name','beer_name']].copy()
# beers = beers.set_index('beer_beerid')
beers['brewery_name'] = beers['brewery_name']
beers['beer_name'] = beers['beer_name']
beers = beers.drop_duplicates()
beers['brewery_name'] = beers['brewery_name'].apply(lambda x: x.split(' '))
beers['beer_name'] = beers['beer_name'].apply(lambda x: x.split(' '))

beers

,beer_beerid,brewery_name,beer_name
0,47986,"[Vecchio, Birraio]","[Sausa, Weizen]"
1,48213,"[Vecchio, Birraio]","[Red, Moon]"
2,48215,"[Vecchio, Birraio]","[Black, Horse, Black, Beer]"
3,47969,"[Vecchio, Birraio]","[Sausa, Pils]"
4,64883,"[Caldera, Brewing, Company]","[Cauldron, DIPA]"
...,...,...,...
714693,38160,"[The, Defiant, Brewing, Company]","[Highland, Porter]"
714694,71234,"[The, Defiant, Brewing, Company]","[Baron, Von, Weizen]"
714695,48360,"[The, Defiant, Brewing, Company]","[Resolution, #2]"
714698,43233,"[The, Defiant, Brewing, Company]","[Double, IPA]"
714699,33061,"[The, Defiant, Brewing, Company]","[The, Horseman's, Ale]"

In [44]:
# need every word to be in list
beers['brewery_name'] = beers['brewery_name'].apply(lambda x: [list(i) for i in x])
beers['beer_name'] = beers['beer_name'].apply(lambda x: [list(i) for i in x])

In [45]:
acceptable_strings = ['a','b','c','d','e','f','g','h','i','j',
                      'k','l','m','n','o','p','q','r','s','t',
                      'u','v','w','x','y','z',
                      '0','1','2','3','4','5','6','7','8','9',
                      '!','&','#','%','?','/', ',', "'",'"', '.', '-']

In [46]:
def clean_str(x):
    for i in x:
        for j in i:
            count = 0
            if j.lower() not in acceptable_strings:
                count =+ 1
            else:
                pass
    if count > 0:
        return np.nan
    else:
        return x

def join_letters(x):
    b = ''
    for i in x:
        b +=''.join(i)+' '
    return b.rstrip(' ')

In [47]:
beers['brewery_name'] = beers['brewery_name'].apply(lambda x: clean_str(x))
beers['beer_name'] = beers['beer_name'].apply(lambda x: clean_str(x))
beers = beers.dropna(axis=0)
beers['brewery_name'] = beers['brewery_name'].apply(lambda x: join_letters(x))
beers['beer_name'] = beers['beer_name'].apply(lambda x: join_letters(x))
print(beers['brewery_name'].isna().sum())
print(beers['beer_name'].isna().sum())

0
0

C:\Users\danon\AppData\Local\Temp\ipykernel_19000\2126558216.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  beers['brewery_name'] = beers['brewery_name'].apply(lambda x: join_letters(x))
C:\Users\danon\AppData\Local\Temp\ipykernel_19000\2126558216.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  beers['beer_name'] = beers['beer_name'].apply(lambda x: join_letters(x))

In [48]:
beers

        beer_beerid                 brewery_name               beer_name
0             47986              Vecchio Birraio            Sausa Weizen
1             48213              Vecchio Birraio                Red Moon
2             48215              Vecchio Birraio  Black Horse Black Beer
3             47969              Vecchio Birraio              Sausa Pils
4             64883      Caldera Brewing Company           Cauldron DIPA
...             ...                          ...                     ...
714693        38160  The Defiant Brewing Company         Highland Porter
714694        71234  The Defiant Brewing Company        Baron Von Weizen
714695        48360  The Defiant Brewing Company           Resolution #2
714698        43233  The Defiant Brewing Company              Double IPA
714699        33061  The Defiant Brewing Company      The Horseman's Ale

[62264 rows x 3 columns]

In [49]:
beers.to_pickle('./beers.pickle')